* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to top , #fff, #111);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Tahoma, sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

input {
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
input:focus {
    outline: none;
}